@{
    ViewData["Title"] = "Home Page";
}

<div id="store-data" data-categories="@ViewData["JsonCategories"]"/>
<div id="react-app"></div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}